<div class="row">
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
            <div class="card-header card-default">IDU Monitoring</div>
            <div class="card-block table-responsive">
                <table class="dl-horizontal">
                    <tr>
                        <th>IDU S/W Image ID:</th>
                        <td>V10102.R00.00.DEV01</td>
                    </tr>
                    <tr>
                        <td>IDU S/W Image Status:</td>
                        <td>Valid</td>
                    </tr>
                    <tr>
                        <td>SIT Operational State:</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>FL Status:</td>
                        <td>Acquired</td>
                    </tr>
                    <tr>
                        <td>RL Status:</td>
                        <td>Ready Mode</td>
                    </tr>
                    <tr>
                        <td>IDU TX Power Level(dBm):</td>
                        <td>-31.5</td>
                    </tr>
                    <tr>
                        <td>IDU TX Status:</td>
                        <td>Enabled</td>
                    </tr>
                    <tr>
                        <td>RL Measured Es/No(dB):</td>
                        <td>20.0</td>
                    </tr>
                    <tr>
                        <td>Logon ID:</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Group ID:</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>RL Burst Type:</td>
                        <td>MPEG</td>
                    </tr>
                    <tr>
                        <td>RL Management PID:</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>RL Traffic PID:</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>TX Frequency (in 100Hz):</td>
                        <td>142259510</td>
                    </tr>
                    <tr>
                        <td>FL Unicast PID:</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>FL Measured Power Level(dBm)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FL Measured SNR(dB):</td>
                        <td>-31.00 dBm&nbsp;15.00 dB</td>
                    </tr>
                    <tr>
                        <td>FL current configuration:</td>
                        <td>Configuration A</td>
                    </tr>
                    <tr>
                        <td>CPU temperature:</td>
                        <td>65 C</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-xl-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-header card-default">Last Saved FL
                Configuration</div>
            <div class="card-block">
                <table class="dl-horizontal">
                    <tr>
                        <td>Frequency (in kHz):</td>
                        <td>11900000</td>
                    </tr>
                    <tr>
                        <td>Symbol Rate (100 symbols/sec):</td>
                        <td>300000</td>
                    </tr>
                    <tr>
                        <td>Coding Rate:</td>
                        <td>Auto Rate Setting</td>
                    </tr>
                    <tr>
                        <td>Polarization:</td>
                        <td>Horizontal</td>
                    </tr>
                    <tr>
                        <td>Network ID:</td>
                        <td>65500</td>
                    </tr>
                    <tr>
                        <td>Interactive Network ID:</td>
                        <td>4700</td>
                    </tr>
                    <tr>
                        <td>Population ID:</td>
                        <td>257</td>
                    </tr>
                    <tr>
                        <td>ACM Flag:</td>
                        <td>Enabled</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>